%h2= @question.title

= link_to 'Follow User', follow_user_path(user_id: @question.author.id), class: 'follow_user'
= link_to 'Follow Topic', follow_topic_path(topic_id: @question.topic.id), class: 'follow_topic'
